<article className="postItem">
    <hgroup className="postTitle">
        <h2>SASS/SCSS</h2>
        <h3>DEVELOPMENT TOOLS</h3>
        <span>16.05.2020</span>
    </hgroup>
    <div className="postBody">
        
        <figure>
            <i class="fab fa-sass"></i>
        </figure>
        <h4>What is <em>SASS/SCSS</em>?</h4>
        <p>Also known as <em>Syntactically Awesome Style Sheets</em>. SASS is the first installment which supports CSS, while SCSS (Sassy CSS) 
        is the newest installment which supports and uses CSS3. Both are a stylesheet language orchestrated by Hampton Catlin and developed by Natalie Weizenbaum.</p>
        <p>It is a preprocessor or a program that converts a specific set of rules to match the requirements of another program.
        In this case, it is a CSS preprocessor similar to BABEL, but specifically for CSS.</p>
        <p>Previously, what made it popular was that you could break down style sheets into different 
        components or .scss files making it easily to manage as the complexity and project scale increases. 
        The file is  processed, compiled and outputs as a CSS.
        The CSS of today does not require it, and it can do that natively by using the <i>@import</i> function.</p>
        <a href="https://sass-lang.com/" target="_blank">https://sass-lang.com/</a>
        <h4>Other similar tool:</h4>
        <ul>
            <li>LESS</li>
        </ul>

        <h4>Why should i consider using it?</h4>
        <p>Its up to your personal preference, but i personally, find that it is a worth it to be a "must have" extension to your skillset. As you move forward as a front-end developer or web designer.
        Though as CSS support across browsers improves over time, the use of SASS may significantly be reduced. But that is normal in any language. 
        Every build cycle, will change it either for the better or for the worst. And that is why understanding the basics is important.</p>
        <p>Take it as a enhancement or extension of CSS. It can help you with the right configuration, or it can be detrimental to your project.</p>

        <h4>Use cases:</h4>
        <ul>
            <li>Improves readability.</li>
            <li>Ability to use mixins or functions to do logical decisions</li>
            <li>Ease of recycling and adapting to different coding scenarios</li>
        </ul>
        <h4>Examples:</h4>
        <p><em>Flex Box</em></p>
        <pre>
            <code class="scss">
                <div>
                @mixin flex($jc: space-between, $ai: flex-start, $fd: row, $ff: row wrap) {
                <div>display: flex;</div>
                <div>justify-content: $jc;</div>
                <div>align-items: $ai;</div>
                <div>flex-flow: $ff;</div>
                <div>flex-direction: $fd;</div>
                }
                </div>
            </code>
        </pre>

        <p><em>Hover/Transition</em></p>
        <pre>
            <code class="scss">
                <div>@mixin hover($t: .5s) {
                <div>cursor: pointer;</div>
                <div>justify-content: $jc;</div>
                <br/>
                <div>&:hover {
                <div>opacity: 0.5;</div>
                }
                </div>
                }
                </div>
            </code>
        </pre> 

        <small>Mark AC.</small>
    </div>
</article>