// HOME.SCSS
.home {
    .inner {
        margin: 20px auto 60px;
        padding: 0 20px;
        max-width: 1040px;
        @include mRes {
            margin-top: 0;
        }

        .postContainer {

            .postItem {
                padding: 50px 40px;
                background: rgba(lightgray, 0.1);
                box-shadow: 1px 1px 5px 5px rgba(lightgray, 0.2);
                border-radius: 5px;
                @include mRes {
                    padding: 20px;
                }

                &:not(:first-child) {
                    margin-top: 100px;
                }

                .postTitle {
                    @include flex($jc: flex-start, $ai: center);
                    padding-bottom: 10px;
                    border-bottom: 1px solid rgba(lightgray, 0.2);
                    @include mRes {
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                    }

                    h2 {
                        @include font($fw: 500, $fs: 23px, $flh: 1, $tt: uppercase);
                        text-shadow: 1px 1px 1px rgba(gray, 0.5);
                        @include mRes {
                            margin-top: 20px;
                            text-align: center;
                            order: 3;
                            font-size: 20px;
                            line-height: 1.5;
                        }
                    }

                    h3 {
                        margin-left: 10px;
                        padding: 5px 10px;
                        border-radius: 5px;
                        background: lightyellow;
                        @include font($tt: uppercase, $fs: 23px, $fw: 500, $flh: 1);
                        text-shadow: 1px 1px 1px rgba(gray, 0.5);
                        @include mRes {
                            width: auto;
                            margin: 10px auto 0;
                            font-size: 19px;
                            text-align: center;
                        }
                    }

                    span {
                        margin-left: 10px;
                        @include font($fs: 18px, $fw: 500, $flh: 1);
                        text-shadow: 1px 1px 1px rgba(gray, 0.5);
                        @include mRes {
                            margin: 10px 0 0 0;
                            text-align: center;
                            font-size: 15px;
                        }
                    }
                }

                .postBody {
                    margin-top: 20px;

                    .a--c {
                        text-align: center;
                    }

                    .m--c {
                        margin-left: auto;
                        margin-right: auto;
                    }

                    .m--l {
                        margin-left: auto;
                    }

                    .m--r {
                        margin-right: auto;
                    }

                    pre {
                        overflow: hidden;

                        code {
                            white-space: normal !important;

                            div {
                                list-style-type: none;

                                div {
                                    padding-left: 40px;
                                }
                            }
                        }
                    }

                    .mt-15 {
                        margin-top: 15px;
                    }

                    p {
                        @include font($fw: 100, $fs: 18px, $fls: 0.03em, $flh: 2);
                        @include mRes {
                            font-size: 15px;
                            line-height: 1.6;
                        }

                        &:not(:first-child) {
                            margin-top: 15px;
                        }
                    }

                    blockquote {
                        display: block;
                        padding: 20px 0;
                        margin: 0 auto 20px;
                        width: 65%;
                        text-align: center;
                        border-top: 1px solid lightgray;
                        border-bottom: 1px solid lightgray;
                        @include font($fw: 100, $fs: 18px, $fls: 0.03em, $flh: 2);
                        @include mRes {
                            font-size: 16px;
                        }

                        cite {
                            display: block;
                        }
                    }

                    figure {
                        @include flex($jc: center);
                        i {
                            font-size: 200px;
                            color: red;
                            @include mRes {
                                width: auto;
                                font-size: 80px;
                            }
                        }
                    }

                    h4 {
                        @include font($fw: 500, $fs: 20px, $fls: 0.03em, $flh: 2);
                        @include mRes {
                            font-size: 15px;
                            line-height: 1.7;
                        }

                        &:not(:first-child) {
                            margin-top: 15px;
                        }
                    }
                    
                    a {
                        display: block;
                        // margin-top: 15px;
                        text-decoration: none;
                        color: $blue;
                        @include hover;
                        @include font($fw: 500, $fs: 18px, $fls: 0.03em, $flh: 2);
                        @include mRes {
                            font-size: 16px;
                        }
                    }

                    ul {
                        margin-top: 15px;
                        padding-left: 20px;

                        li {
                            @include font($fw: 100, $fs: 18px, $fls: 0.03em, $flh: 2);
                            @include mRes {
                                font-size: 15px;
                                line-height: 1.6;
                            }
                        }

                        &.no--bullet {
                            padding-left: 0;
                            list-style-type: none;

                            a {
                                color: $blue;
                                text-decoration: none;
                                @include hover;
                            }
                        }
                    }

                    strong {
                        @include font($fw: 600, $fs: 18px, $fls: 0.03em, $flh: 2);
                    }

                    small {
                        display: block;
                        margin-top: 15px;
                        @include font($fw: 500, $fs: 18px);
                        @include mRes {
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}